* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Space Mono", serif;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Garante que ele ocupará apenas a largura da tela */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
    overflow: hidden; /* Impede que elementos internos ultrapassem os limites */
    background-color: #171023;
    z-index: 1000;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    
  }

  .site {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    background-color: #171023;
    height: 80%;
    margin-top: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: #171023;
}

.logo {
  font-family: "Space Mono", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-top: 0.5rem;
  
}

.show {
  transform:translateX(0);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 1rem;
}

.nav-links li {
    margin: 1rem 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
    
}

.nav-links a:hover {
    background: #555;
}

.nav-links.show {
    display: flex;
}

h1 {
    
    font-size: 3rem;
    background: linear-gradient(90deg, #9955E8, #7BFFAF); /* Gradiente de coral para azul */
    background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent; /* Torna o fundo do texto transparente */
        
}


.resume-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.resume-box {
      /* Estilos da caixa */
      border: 2px solid #7BFFAF; /* Cor e espessura da borda */
      border-radius: 10px; /* Bordas arredondadas */
      padding: 1.5rem; /* Espaçamento interno */
      padding-top: 1rem;
      padding-bottom: 10%;
      margin: 2rem 0; /* Espaçamento externo (superior e inferior) */
      text-align: center; /* Centraliza o texto dentro da caixa */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
      background-color:#2C243B; /* Cor de fundo branca com opacidade */
      width: 90%;
     
}

.resume-box p {
    margin-top: 2rem;
    display: flex;
    text-align: start;
    
    font-size: 1.5rem;
   
}

.arrow-align {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50rem;
}

.back-arrow {
    transform: rotate(270deg);
    
}

@media (min-width: 374px) {
    .back-arrow {
        margin-right: 1rem;
    }
}


/* Media query para mobile */
@media (max-width: 1150px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: -100%;
       
        right: 0;
        width: 40%;
        background-color: #413A4F;
        transition: 0.3s;
        padding: 2rem;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links li {
        margin: 1rem 0;
        width: 100%;
        
        border-bottom: 1px solid #ffffff;
    }

    .nav-links.show {
        top: 60px; /* Ajuste este valor de acordo com a altura do seu header */
    }
    .modal-content {
      max-width: 100%; /* Permite que o modal ocupe toda a largura da tela */
      max-height: 100%; /* Permite que o modal ocupe toda a altura da tela */
    }
  
    .modal-content img {
      width: 100%;
      height: auto;
    }
  
    .prev, .next {
      font-size: 24px; /* Ajusta o tamanho dos botões de navegação */
      padding: 8px;
    }
  
    .close-modal {
      font-size: 24px; /* Ajusta o tamanho do botão de fechar */
      padding: 8px;
    }

    .arrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 50rem;
    }
    
    .back-arrow {
        transform: rotate(270deg);
        
    }
    
}

@media (min-width: 600px) {
 .resume-box {
    width: 90%;
    padding: 1rem;
 } 

 .content {
    margin: 1rem;
 }
}

footer {
    display: flex;
    flex-direction: row;
    background: #171023;
    font-size: 0.8rem;

}

.final {
    margin: 0.5rem;
}

.scroll-top-arrow {
    position: fixed;
    bottom: 0rem;
    right: 0.1rem;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    display: none; /* Inicialmente escondido */
    
}

.arrow-up {
    width: 34px; /* Ajuste o tamanho conforme necessário */
    height: 34px; /* Ajuste o tamanho conforme necessário */
    display: block; /* Certifique-se de que está sendo exibido */
    margin: 1rem auto; /* Centraliza o ícone */
}

.arrow-up:hover {
    transform: translateY(-5px);
}

